---
autoscaling:
  enabled: true
pdb:
  enabled: true

config:
  enabled: true
  configMap:
    KC_ENABLED: "true"
    KC_PUBLICKEY: >-
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtq5+xTKB1FRCwufdluEx8mNIZU3eXpo91QUrqlpq226HcyF9WPihdpuZzdlS+kW6EC2prZfJpvDvzT/Og4fx9ZoQVKV0uYvWvEg5Sc3ikQMfO0ngqUC6FkxElj9LzpijpdEQd0JAmmem2329lITwWroX70imLhYu3aY+Q3hSY2lg5OJCBw0I2pulfQiMsGn3vgkwSvmIsDhOgSnwPJhPxD9TY6kjvTff6LB1bFSwlxh1l8dRBqRabDunoHn/uHfhVAHB/SgPkvP5Ybc5bP/idBNP0kiQcWiT02Z7aB1r7Fnd5YH9FEDhhF5OIYYBzHP4hPm6AgqG/IDhAuiqf/F9eQIDAQAB
    KC_REALM: comsvcauth
    KC_SERVERURL: "https://loginproxy.gov.bc.ca/auth"
    SERVER_LOGLEVEL: http

postgres:
  enabled: true

  # --------------------------------
  # --------crunchydb config: ------
  # --------------------------------

  instances:
    - name: db # do not change this name after initial install, pvc (data) and stateful sets will be deleted
      replicas: 3
      dataVolumeClaimSpec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: 35Gi
        storageClassName: "netapp-block-standard"
      resources:
        requests:
          cpu: 256m
          memory: 512Mi
        limits:
          cpu: 512m
          memory: 1024Mi
        replicaCertCopy:
          resources:
            requests:
              cpu: 25m
              memory: 50Mi

  # -------- backups ---------
  pgBackRestConfig:
    manual:
      repoName: repo1
      options:
        - --type=full
    repoHost:
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
    sidecars:
      pgbackrest:
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
      pgbackrestConfig:
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
    jobs:
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
    configuration:
      # secret for saving backups to S3
      - secret:
          name: pgbackrest-s3
    global:
      # log-level-console: debug
      # --- pvc
      repo1-retention-full: "1"
      repo1-retention-diff: "2"
      # --- s3
      repo2-path: /backups/common-hosted-email-service/postgres/prod
      repo2-retention-full: "1"
      repo2-retention-diff: "30"
      repo2-s3-uri-style: path
    repos:
      - name: repo1
        schedules:
          full: "0 14 15 * *" # full backup at 14:00 on day-of-month 15
          differential: "30 */2 * * *" # differential at minute 30 past every 2nd hour
        volume:
          volumeClaimSpec:
            accessModes:
              - "ReadWriteOnce"
            resources:
              requests:
                storage: 110Gi
            storageClassName: "netapp-file-backup"
      - name: repo2
        schedules:
          full: "0 2 1 * *" # full backup at 02:00 on day-of-month 1
          differential: "0 */2 * * *" # differential every 2 hours
        s3:
          bucket: csstops
          endpoint: https://nrs.objectstore.gov.bc.ca
          region: us-east-1
    # -- restore from backup
    # ref: https://access.crunchydata.com/documentation/postgres-operator/latest/tutorials/backups-disaster-recovery/disaster-recovery#perform-an-in-place-point-in-time-recovery-pitr
    restore:
      enabled: false
      repoName: repo1 # eg `repo1` (pvc) or `repo2` (s3)
      options:
        - --type=time
        - --target="2024-10-28 14:15:11-04"

  # -------- monitoring ---------
  monitoring: true
  monitoringConfig:
    resources:
      requests:
        cpu: 1m
        memory: 16Mi

redis:
  architecture: replication
  global:
    storageClass: netapp-block-standard
  enabled: true
  auth:
    enabled: false
  image:
    registry: artifacts.developer.gov.bc.ca/docker-remote
  replica:
    shareProcessNamespace: true
    replicaCount: 3
    persistentVolumeClaimRetentionPolicy:
      enabled: true
      whenDeleted: Delete
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      size: 25Mi
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
  sentinel:
    enabled: true
    quorum: 1
    podSecurityContext: {}
    containerSecurityContext: {}
    image:
      registry: artifacts.developer.gov.bc.ca/docker-remote
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      size: 35Mi
      storageClass: netapp-block-standard
    persistentVolumeClaimRetentionPolicy:
      enabled: true
      whenScaled: Delete
      whenDeleted: Delete
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
