---
autoscaling:
  enabled: false
pdb:
  enabled: false

config:
  enabled: true
  configMap:
    KC_ENABLED: "true"
    KC_PUBLICKEY: >-
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsmuiI3bzde2avKEZd8P/ivnUFL9JxwfykQ9eC6qULkkALW4Nj+m0rH+yTuWTWPwZsYyICtWXbQui6Yh+EP0+bTeDzeDaD1oSUgqC4c9EySs64sGPQLE3sHllwONo8AegNQSiPw+KHE2Rf3ky61KuQHOhrszHKq1qT71ct5iPK9oeZ4vkr6A0XfNNOzih6Jp+XrmNmU85+ssNJ7Oy9plwxHBC73Ff3Jw8UF2dRPPLOJT3oAtYJYD4uuQebPq3bKv2n8iQftLG80l1frM1iG/jddoKItSYBRYsi4Mc65gGgkfsTQGk+Up0SULpO/nIASHWLSYNZOTiqAqMgkWQ+Ga9vQIDAQAB
    KC_REALM: comsvcauth
    KC_SERVERURL: "https://dev.loginproxy.gov.bc.ca/auth"
    SERVER_LOGLEVEL: info

postgres:
  enabled: true
  # -------- backups ---------
  pgBackRestConfig:
    global:
      # log-level-console: debug
      # --- pvc
      repo1-retention-full: "1"
      repo1-retention-diff: "3"
    repos:
      - name: repo1
        schedules:
          full: "0 0 1 * *" # full backup at midnight every month
          differential: "0 1 * * *" # differential every day at 1am
        volume:
          volumeClaimSpec:
            accessModes:
              - "ReadWriteOnce"
            resources:
              requests:
                storage: 10Gi
            storageClassName: "netapp-file-backup"
    manual:
      repoName: repo1
      options:
        - --type=full
    repoHost:
      resources:
        requests:
          cpu: 20m
          memory: 128Mi
    sidecars:
      pgbackrest:
        resources:
          requests:
            cpu: 5m
            memory: 16Mi
      pgbackrestConfig:
        resources:
          requests:
            cpu: 5m
            memory: 32Mi
    jobs:
      resources:
        requests:
          cpu: 10m
          memory: 64Mi

redis:
  architecture: replication
  global:
    storageClass: netapp-block-standard
  enabled: true
  auth:
    enabled: false
  image:
    registry: artifacts.developer.gov.bc.ca/docker-remote
  replica:
    shareProcessNamespace: true
    replicaCount: 3
    persistentVolumeClaimRetentionPolicy:
      enabled: true
      whenDeleted: Delete
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      size: 100Mi
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
  sentinel:
    enabled: true
    quorum: 1
    podSecurityContext: {}
    containerSecurityContext: {}
    image:
      registry: artifacts.developer.gov.bc.ca/docker-remote
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      size: 100Mi
      storageClass: netapp-block-standard
    persistentVolumeClaimRetentionPolicy:
      enabled: true
      whenScaled: Delete
      whenDeleted: Delete
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
